# Node modules
node_modules

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/
prisma/.env

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Temporary files
*.tmp
*.temp
